body {
  overflow-y: hidden;
}

.container-fluid {
  margin: 0 20% 0;
  background: hsl(0, 0%, 90%);
  height: 100vh;
}

.header {
  display: flex;
  font-size: small;
  justify-content: center;
}

.calc-display {
  height: 5rem;
  background: hsla(120, 100%, 25%, 0.1);
  margin: 0 2% 2%;
}

.calc-buttons {
  margin: 0 2%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.button {
  flex: 0 25%;
  height: 5rem;
  /* background:hsl(0, 100%, 50%); */
  border: 1px solid hsla(120, 100%, 25%, 0.1);
  box-sizing: border-box;
  align-items: center;
}

/* div#plus {
  height: 10rem;
} */
